esp32_laptimer/node-red.txt
[{"id":"eb4a2b0a.158ba8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"57675c94.a56354","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"354ee41f.4da4cc","type":"serial-port","z":"","serialport":"COM4","serialbaud":"250000","databits":"8","parity":"none","stopbits":"1","newline":"\\n\\r","bin":"false","out":"char","addchar":true},{"id":"6044c819.fb2918","type":"serial in","z":"eb4a2b0a.158ba8","name":"","serial":"354ee41f.4da4cc","x":110,"y":80,"wires":[["4c059e40.366ef","50b5688f.e83578"]]},{"id":"8373e9e9.f6fd48","type":"debug","z":"eb4a2b0a.158ba8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":80,"wires":[]},{"id":"4c059e40.366ef","type":"delay","z":"eb4a2b0a.158ba8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1000","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":280,"y":80,"wires":[["8373e9e9.f6fd48"]]},{"id":"a8226144.bfdcd","type":"debug","z":"eb4a2b0a.158ba8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":120,"wires":[]},{"id":"8b5e32ba.4c2f3","type":"udp out","z":"eb4a2b0a.158ba8","name":"","addr":"127.0.0.1","iface":"","port":"1236","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":490,"y":180,"wires":[]},{"id":"f2d55a2f.858da8","type":"serial out","z":"eb4a2b0a.158ba8","name":"","serial":"354ee41f.4da4cc","x":862,"y":361.00000858306885,"wires":[]},{"id":"b781a8a3.d45408","type":"inject","z":"eb4a2b0a.158ba8","name":"Raw Mode 0-1023","topic":"","payload":"r","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"10","x":362,"y":601.0000085830688,"wires":[["f2d55a2f.858da8"]]},{"id":"21d9d58.e15e32a","type":"inject","z":"eb4a2b0a.158ba8","name":"Calibrated Mode 0-255","topic":"","payload":"s","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":371,"y":642.000020980835,"wires":[["f2d55a2f.858da8"]]},{"id":"f22eadde.10fe9","type":"function","z":"eb4a2b0a.158ba8","name":"globale Variablen","func":"switch (msg.topic){\n    case \"node1peak\": global.set(\"node1peak\", msg.payload); break;\n    case \"node2peak\": global.set(\"node2peak\", msg.payload); break;\n    case \"node3peak\": global.set(\"node3peak\", msg.payload); break;\n    case \"node4peak\": global.set(\"node4peak\", msg.payload); break;\n    case \"node5peak\": global.set(\"node5peak\", msg.payload); break;\n    case \"node6peak\": global.set(\"node6peak\", msg.payload); break;\n    case \"node7peak\": global.set(\"node7peak\", msg.payload); break;\n    case \"node8peak\": global.set(\"node8peak\", msg.payload); break;\n    case \"delta\": global.set(\"delta\", msg.payload); break;\n    case \"shortlap\": global.set(\"shortlap\", msg.payload); break;\n    case \"node1freq\": global.set(\"node1freq\", msg.payload); \n                      node.send({payload: \"f 0 \"+msg.payload}); break;\n    case \"node2freq\": global.set(\"node2freq\", msg.payload);\n                      node.send({payload: \"f 1 \"+msg.payload}); break;\n    case \"node3freq\": global.set(\"node3freq\", msg.payload);\n                      node.send({payload: \"f 2 \"+msg.payload}); break;\n    case \"node4freq\": global.set(\"node4freq\", msg.payload);\n                      node.send({payload: \"f 3 \"+msg.payload}); break;\n    case \"node5freq\": global.set(\"node5freq\", msg.payload);\n                      node.send({payload: \"f 4 \"+msg.payload}); break;\n    case \"node6freq\": global.set(\"node6freq\", msg.payload);\n                      node.send({payload: \"f 5 \"+msg.payload}); break;\n    case \"node7freq\": global.set(\"node7freq\", msg.payload);\n                      node.send({payload: \"f 6 \"+msg.payload}); break;\n    case \"node8freq\": global.set(\"node8freq\", msg.payload);\n                      node.send({payload: \"f 7 \"+msg.payload}); break;\n}","outputs":1,"noerr":0,"x":622,"y":361.00000858306885,"wires":[["2cea8da9.ddc432","f2d55a2f.858da8"]]},{"id":"2e3ad959.7b2a06","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node1peak","payload":"800","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":121,"y":223.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"548b4689.cee7e8","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node2peak","payload":"1100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":131,"y":263.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"c58a3545.202fb8","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node3peak","payload":"950","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":121,"y":303.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"fa4e0f18.b2a39","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node4peak","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":131,"y":343.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"6376b062.bf71b","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node5peak","payload":"800","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":121,"y":383.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"f010fae5.b22b58","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node6peak","payload":"800","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":121,"y":423.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"8244f260.71169","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node7peak","payload":"800","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":121,"y":463.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"44990eaf.01b27","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node8peak","payload":"900","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":121,"y":503.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"664065c8.fce5ec","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"delta","payload":"300","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":121,"y":563.0000085830688,"wires":[["f22eadde.10fe9"]]},{"id":"bcd89b50.b6ae28","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node1freq","payload":"5658","payloadType":"num","repeat":"","crontab":"","once":true,"x":361,"y":223.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"400f6e50.d4864","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node2freq","payload":"5695","payloadType":"num","repeat":"","crontab":"","once":true,"x":361,"y":263.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"c5f4f885.81f768","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node3freq","payload":"5732","payloadType":"num","repeat":"","crontab":"","once":true,"x":361,"y":303.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"78000622.14ac48","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node4freq","payload":"5769","payloadType":"num","repeat":"","crontab":"","once":true,"x":361,"y":343.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"a0b4905f.4d593","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node5freq","payload":"5806","payloadType":"num","repeat":"","crontab":"","once":true,"x":361,"y":383.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"d983639b.65048","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node6freq","payload":"5843","payloadType":"num","repeat":"","crontab":"","once":true,"x":361,"y":423.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"8e0366ea.e8e298","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node7freq","payload":"5880","payloadType":"num","repeat":"","crontab":"","once":true,"x":361,"y":463.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"e4594e5a.aef97","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"node8freq","payload":"5917","payloadType":"num","repeat":"","crontab":"","once":true,"x":361,"y":503.00000858306885,"wires":[["f22eadde.10fe9"]]},{"id":"2cea8da9.ddc432","type":"debug","z":"eb4a2b0a.158ba8","name":"","active":false,"console":"false","complete":"false","x":839.89453125,"y":296.67969608306885,"wires":[]},{"id":"50b5688f.e83578","type":"function","z":"eb4a2b0a.158ba8","name":"","func":"var indata = msg.payload;\nvar senddata= [];\nvar node1peak = global.get(\"node1peak\");\nvar node2peak = global.get(\"node2peak\");\nvar node3peak = global.get(\"node3peak\");\nvar node4peak = global.get(\"node4peak\");\nvar node5peak = global.get(\"node5peak\");\nvar node6peak = global.get(\"node6peak\");\nvar node7peak = global.get(\"node7peak\");\nvar node8peak = global.get(\"node8peak\");\nvar node1freq = global.get(\"node1freq\");\nvar node2freq = global.get(\"node2freq\");\nvar node3freq = global.get(\"node3freq\");\nvar node4freq = global.get(\"node4freq\");\nvar node5freq = global.get(\"node5freq\");\nvar node6freq = global.get(\"node6freq\");\nvar node7freq = global.get(\"node7freq\");\nvar node8freq = global.get(\"node8freq\");\nvar delta = global.get(\"delta\");\nvar shortlap = global.get(\"shortlap\")\nvar node1high = context.get('node1high')||0;\nvar node2high = context.get('node2high')||0;\nvar node3high = context.get('node3high')||0;\nvar node4high = context.get('node4high')||0;\nvar node5high = context.get('node5high')||0;\nvar node6high = context.get('node6high')||0;\nvar node7high = context.get('node7high')||0;\nvar node8high = context.get('node8high')||0;\nvar node1to = context.get('node1to')||0;\nvar node2to = context.get('node2to')||0;\nvar node3to = context.get('node3to')||0;\nvar node4to = context.get('node4to')||0;\nvar node5to = context.get('node5to')||0;\nvar node6to = context.get('node6to')||0;\nvar node7to = context.get('node7to')||0;\nvar node8to = context.get('node8to')||0;\n\n\nsenddata =indata.split(\" \");\nif ((senddata[1] > node1peak) && (node1to === 0)){\n    node1high = 1;\n    context.set('node1high',node1high);\n}\nif ((node1high == 1) && (node1to === 0)&& (senddata[1] < node1peak-delta)){\n    node1high = 0;\n    context.set('node1high',node1high);\n    node1to = 1;\n    context.set('node1to', node1to);\n    setTimeout(function(){\n        node1to = 0; \n        context.set('node1to', node1to);\n    }, shortlap)\n    //msg.payload = (\"0|5808|122332\")\n    node.send({payload:(\"0|\"+node1freq+\"|\"+ new Date().getTime())});\n}\nif ((senddata[2] > node2peak) && (node2to === 0)){\n    node2high = 1;\n    context.set('node2high',node2high);\n}\nif ((node2high == 1) && (node2to === 0) && (senddata[2] < node2peak-delta)){\n    node2high = 0;\n    context.set('node2high',node2high);\n    node2to = 1;\n    context.set('node2to', node2to);\n    setTimeout(function(){\n        node2to = 0; \n        context.set('node2to', node2to);\n    }, shortlap)\n    //msg.payload = (\"0|5808|122332\")\n    node.send({payload:(\"1|\"+node2freq+\"|\"+ new Date().getTime())});\n}\nif ((senddata[3] > node3peak) && (node3to === 0)){\n    node3high = 1;\n    context.set('node3high',node3high);\n}\nif ((node3high == 1) && (node3to === 0) && (senddata[3] < node3peak-delta)){\n    node3high = 0;\n    context.set('node3high',node3high);\n    node3to = 1;\n    context.set('node3to', node3to);\n    setTimeout(function(){\n        node3to = 0; \n        context.set('node3to', node3to);\n    }, shortlap)\n    //msg.payload = (\"0|5808|122332\")\n    node.send({payload:(\"2|\"+node3freq+\"|\"+ new Date().getTime())});\n}\nif ((senddata[4] > node4peak) && (node4to === 0)){\n    node4high = 1;\n    context.set('node4high',node4high);\n}\nif ((node4high == 1) && (node4to === 0) && (senddata[4] < node4peak-delta)){\n    node4high = 0;\n    context.set('node4high',node4high);\n    node4to = 1;\n    context.set('node4to', node4to);\n    setTimeout(function(){\n        node4to = 0; \n        context.set('node4to', node4to);\n    }, shortlap)\n    //msg.payload = (\"0|5808|122332\")\n    node.send({payload:(\"3|\"+node4freq+\"|\"+ new Date().getTime())});\n}\nif ((senddata[5] > node5peak) && (node5to === 0)){\n    node5high = 1;\n    context.set('node5high',node5high);\n}\nif ((node5high == 1) && (node5to === 0) && (senddata[5] < node5peak-delta)){\n    node5high = 0;\n    context.set('node5high',node5high);\n    node5to = 1;\n    context.set('node5to', node5to);\n    setTimeout(function(){\n        node5to = 0; \n        context.set('node7to', node7to);\n    }, shortlap)\n    //msg.payload = (\"0|5808|122332\")\n    node.send({payload:(\"4|\"+node5freq+\"|\"+ new Date().getTime())});\n}\nif ((senddata[6] > node6peak) && (node6to === 0)){\n    node6high = 1;\n    context.set('node6high',node6high);\n}\nif ((node6high == 1) && (node6to === 0) && (senddata[6] < node6peak-delta)){\n    node6high = 0;\n    context.set('node6high',node6high);\n    node6to = 1;\n    context.set('node6to', node6to);\n    setTimeout(function(){\n        node6to = 0; \n        context.set('node6to', node6to);\n    }, shortlap)\n    //msg.payload = (\"0|5808|122332\")\n    node.send({payload:(\"5|\"+node6freq+\"|\"+ new Date().getTime())});\n}\nif ((senddata[7] > node7peak) && (node7to === 0)){\n    node7high = 1;\n    context.set('node7high',node7high);\n}\nif ((node7high == 1) && (node7to === 0) && (senddata[7] < node7peak-delta)){\n    node7high = 0;\n    context.set('node7high',node7high);\n    node7to = 1;\n    context.set('node7to', node7to);\n    setTimeout(function(){\n        node7to = 0; \n        context.set('node7to', node7to);\n    }, shortlap)\n    //msg.payload = (\"0|5808|122332\")\n    node.send({payload:(\"6|\"+node7freq+\"|\"+ new Date().getTime())});\n}\nif ((senddata[8] > node8peak) && (node8to === 0)){\n    node8high = 1;\n    context.set('node8high',node8high);\n}\nif ((node8high == 1) && (node8to === 0) && (senddata[8] < node8peak-delta)){\n    node8high = 0;\n    context.set('node8high',node8high);\n    node8to = 1;\n    context.set('node8to', node8to);\n    setTimeout(function(){\n        node8to = 0; \n        context.set('node8to', node8to);\n    }, shortlap)\n    //msg.payload = (\"0|5808|122332\")\n    node.send({payload:(\"7|\"+node8freq+\"|\"+ new Date().getTime())});\n}","outputs":1,"noerr":0,"x":314.99999618530273,"y":162.99999904632568,"wires":[["a8226144.bfdcd","8b5e32ba.4c2f3"]]},{"id":"9d5c6be.a0b9098","type":"inject","z":"eb4a2b0a.158ba8","name":"Calibrate Minimum","topic":"","payload":"n","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":496,"y":707.0000085830688,"wires":[["f2d55a2f.858da8"]]},{"id":"10440b64.8a1105","type":"inject","z":"eb4a2b0a.158ba8","name":"Calibrate Maximum","topic":"","payload":"m","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":494,"y":752.0000085830688,"wires":[["f2d55a2f.858da8"]]},{"id":"16ec9f06.98f171","type":"inject","z":"eb4a2b0a.158ba8","name":"Status","topic":"","payload":"?","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":456,"y":811.0000085830688,"wires":[["f2d55a2f.858da8"]]},{"id":"9ded766e.296a38","type":"inject","z":"eb4a2b0a.158ba8","name":"","topic":"shortlap","payload":"10000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":140,"y":600,"wires":[["f22eadde.10fe9"]]},{"id":"71220254.eb59cc","type":"inject","z":"eb4a2b0a.158ba8","name":"Simulate Pass ON","topic":"","payload":"r 900 200 200 200 200 200 200 200\\r\\n","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":134.88671875,"y":136.43749618530273,"wires":[["50b5688f.e83578"]]},{"id":"6422443.fde5abc","type":"inject","z":"eb4a2b0a.158ba8","name":"Simulate Pass OFF","topic":"","payload":"r 200 200 200 200 200 200 200 200\\r\\n","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":134.01952743530273,"y":176.00390720367432,"wires":[["50b5688f.e83578"]]}]